@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

ul{
    display: inline-block;
    
    
}

.photo{
    display: inline-block;
    vertical-align: -5px;
}



nav{
    margin: 50px 0px 0px 100px;
    
}

li{
    display: inline-block;
    margin: 0px 0px 0px 30px;
    



}
.mtavari{
    color: red;
    
    

       
}

.siaxleebi{
    color: blue;
}

.kontaqti{
    color: blue;
}

.photo2{
    padding: 100px;
    max-width: 1000px;
    width: 100%;
  
}

.content{
    max-width: 1370px;
    width: 100%;
    
}

.featured{
    margin: 0px 0px 0px 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.hand{
    margin: 20px 0px 0px 70px;
}

.web{
    margin: 0px 0px 0px 50px;
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
    color: blue;

}

.text{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 20px 0px 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

.box{
    background-color: whitesmoke;
    width: 500px;
    margin: 30px 0px 0px 100px;
    height: 200px;
    padding: 8px;
    
}

.box2{
    background-color: whitesmoke;
    width: 500px;
    margin: -200px 0px 0px 0px;
    height: 200px;
    float: right;
    padding: 8px;

}

.phone{
    padding: 10px;
    margin: 0px 0px 0px 30px;
}

.app{
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;

    
}

.logo3{
    width: 16px;
    margin: 0px 0px 0px 35px;
    
}

.logo4{
    width: 60px;
    margin: -60px 0px 0px 120px;
}

.vl{
    border-left: 1px solid blue;
    height: 35px;
    margin: -35px 0px 0px  100px;
}

.footer2{
    margin: 60px 0px 0px 80px;
}